build/intermediates/proguard-files
build/android-profile/profile-2017-10-13-09-51-56-640.rawproto
build/android-profile/profile-2017-10-13-09-51-58-516.rawproto
build/android-profile/profile-2017-10-13-09-52-08-215.rawproto
build/android-profile/profile-2017-10-13-09-52-09-087.rawproto
.gradle/3.3/taskArtifacts/fileHashes.bin
.gradle/3.3/taskArtifacts/fileSnapshots.bin
.gradle/3.3/taskArtifacts/taskArtifacts.bin
.gradle/3.3/taskArtifacts/taskArtifacts.lock
.gradle/3.3/tasks/_app_compileDebugJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.bin
.gradle/3.3/tasks/_app_compileDebugJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.lock
.gradle/3.3/tasks/_app_compileDebugJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.lock
build/android-profile/profile-2017-10-13-09-56-22-767.rawproto
build/android-profile/profile-2017-10-13-10-00-30-485.rawproto
build/android-profile/profile-2017-10-13-10-04-40-488.rawproto
build/android-profile/profile-2017-10-13-10-05-59-154.rawproto
build/android-profile/profile-2017-10-13-10-06-44-190.rawproto
build/android-profile/profile-2017-10-13-10-07-53-662.rawproto
build/android-profile/profile-2017-10-13-10-09-23-198.rawproto
build/android-profile/profile-2017-10-13-10-10-27-048.rawproto
.gradle/3.3/tasks/_app_compileReleaseJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.bin
.gradle/3.3/tasks/_app_compileReleaseJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.lock
.gradle/3.3/tasks/_app_compileReleaseJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.bin
.gradle/3.3/tasks/_app_compileReleaseJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.lock
profile-2017-10-13-10-13-31-112.rawproto
profile-2017-10-13-10-14-31-121.rawproto
profile-2017-10-16-20-11-26-266.rawproto
profile-2017-10-16-20-25-14-043.rawproto
profile-2017-10-16-20-33-27-421.rawproto
profile-2017-10-16-20-38-16-864.rawproto
profile-2017-10-16-20-51-05-453.rawproto
profile-2017-10-16-20-51-34-473.rawproto
profile-2017-10-16-21-00-31-535.rawproto
profile-2017-10-16-21-04-02-603.rawproto
profile-2017-10-16-21-05-42-406.rawproto
profile-2017-10-16-21-06-13-671.rawproto
build/android-profile/profile-2017-10-23-10-22-47-979.rawproto
app.iml
