build/intermediates/proguard-files
build/android-profile/profile-2017-10-13-09-51-56-640.rawproto
build/android-profile/profile-2017-10-13-09-51-58-516.rawproto
build/android-profile/profile-2017-10-13-09-52-08-215.rawproto
build/android-profile/profile-2017-10-13-09-52-09-087.rawproto
