build/intermediates/proguard-files
build/android-profile/profile-2017-10-13-09-51-56-640.rawproto
build/android-profile/profile-2017-10-13-09-51-58-516.rawproto
build/android-profile/profile-2017-10-13-09-52-08-215.rawproto
build/android-profile/profile-2017-10-13-09-52-09-087.rawproto
.gradle/3.3/taskArtifacts/fileHashes.bin
.gradle/3.3/taskArtifacts/fileSnapshots.bin
.gradle/3.3/taskArtifacts/taskArtifacts.bin
.gradle/3.3/taskArtifacts/taskArtifacts.lock
.gradle/3.3/tasks/_app_compileDebugJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.bin
.gradle/3.3/tasks/_app_compileDebugJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.lock
.gradle/3.3/tasks/_app_compileDebugJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.lock
build/android-profile/profile-2017-10-13-09-56-22-767.rawproto
build/android-profile/profile-2017-10-13-10-00-30-485.rawproto
build/android-profile/profile-2017-10-13-10-04-40-488.rawproto
build/android-profile/profile-2017-10-13-10-05-59-154.rawproto
build/android-profile/profile-2017-10-13-10-06-44-190.rawproto
build/android-profile/profile-2017-10-13-10-07-53-662.rawproto
build/android-profile/profile-2017-10-13-10-09-23-198.rawproto
build/android-profile/profile-2017-10-13-10-10-27-048.rawproto
.gradle/3.3/tasks/_app_compileReleaseJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.bin
.gradle/3.3/tasks/_app_compileReleaseJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.lock
.gradle/3.3/tasks/_app_compileReleaseJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.bin
.gradle/3.3/tasks/_app_compileReleaseJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.lock
profile-2017-10-13-10-13-31-112.rawproto
profile-2017-10-13-10-14-31-121.rawproto
profile-2017-10-16-20-11-26-266.rawproto
profile-2017-10-16-20-25-14-043.rawproto
profile-2017-10-16-20-33-27-421.rawproto
profile-2017-10-16-20-38-16-864.rawproto
profile-2017-10-16-20-51-05-453.rawproto
profile-2017-10-16-20-51-34-473.rawproto
profile-2017-10-16-21-00-31-535.rawproto
profile-2017-10-16-21-04-02-603.rawproto
profile-2017-10-16-21-05-42-406.rawproto
profile-2017-10-16-21-06-13-671.rawproto
build/android-profile/profile-2017-10-23-10-22-47-979.rawproto
app.iml
profile-2017-10-24-10-14-22-698.rawproto
profile-2017-10-24-10-18-08-067.rawproto
last-build.bin
fileContent.lock
fileHashes.bin
fileHashes.lock
resourceHashesCache.bin
classAnalysis.bin
jarAnalysis.bin
javaCompile.lock
taskHistory.bin
taskJars.bin
fileSnapshots.bin
taskHistory.lock
built.bin
cache.properties
cache.properties.lock
animated_vector_drawable_26_0_0_alpha1.xml
appcompat_v7_26_0_0_alpha1.xml
com_android_support_animated_vector_drawable_26_0_0_alpha1.xml
com_android_support_appcompat_v7_26_0_0_alpha1.xml
com_android_support_recyclerview_v7_26_0_0_alpha1.xml
com_android_support_support_annotations_26_0_0_alpha1_jar.xml
com_android_support_support_compat_26_0_0_alpha1.xml
com_android_support_support_core_ui_26_0_0_alpha1.xml
com_android_support_support_core_utils_26_0_0_alpha1.xml
com_android_support_support_fragment_26_0_0_alpha1.xml
com_android_support_support_media_compat_26_0_0_alpha1.xml
com_android_support_support_v4_26_0_0_alpha1.xml
com_android_support_support_vector_drawable_26_0_0_alpha1.xml
com_android_support_test_espresso_espresso_core_2_2_2.xml
com_android_support_test_espresso_espresso_idling_resource_2_2_2.xml
com_android_support_test_exposed_instrumentation_api_publish_0_5.xml
com_android_support_test_rules_0_5.xml
com_android_support_test_runner_0_5.xml
com_cabe_lib_RxCache_1_2_1.xml
com_github_bumptech_glide_glide_3_7_0_jar.xml
com_google_code_findbugs_jsr305_2_0_1_jar.xml
com_google_code_gson_gson_2_5_jar.xml
com_jakewharton_disklrucache_2_0_2_jar.xml
com_squareup_javawriter_2_1_1_jar.xml
com_squareup_okhttp_okhttp_2_7_5_jar.xml
com_squareup_okhttp_okhttp_urlconnection_2_7_5_jar.xml
com_squareup_okio_okio_1_6_0_jar.xml
com_squareup_retrofit_retrofit_1_9_0_jar.xml
espresso_core_2_2_2.xml
espresso_idling_resource_2_2_2.xml
exposed_instrumentation_api_publish_0_5.xml
io_reactivex_rxandroid_1_1_0.xml
io_reactivex_rxjava_1_1_0_jar.xml
javax_annotation_javax_annotation_api_1_2_jar.xml
javax_inject_javax_inject_1_jar.xml
junit_junit_4_12_jar.xml
org_hamcrest_hamcrest_core_1_3_jar.xml
org_hamcrest_hamcrest_integration_1_3_jar.xml
org_hamcrest_hamcrest_library_1_3_jar.xml
org_jsoup_jsoup_1_9_1_jar.xml
recyclerview_v7_26_0_0_alpha1.xml
rules_0_5.xml
runner_0_5.xml
rxandroid_1_1_0.xml
RxCache_1_2_1.xml
support_compat_26_0_0_alpha1.xml
support_core_ui_26_0_0_alpha1.xml
support_core_utils_26_0_0_alpha1.xml
support_fragment_26_0_0_alpha1.xml
support_media_compat_26_0_0_alpha1.xml
support_v4_26_0_0_alpha1.xml
support_vector_drawable_26_0_0_alpha1.xml
profile-2017-10-27-17-10-39-887.rawproto
profile-2017-10-27-17-13-31-234.json
profile-2017-10-27-17-13-31-234.rawproto
profile-2017-10-27-17-13-39-863.json
profile-2017-10-27-17-13-39-863.rawproto
profile-2017-10-27-17-13-47-524.json
profile-2017-10-27-17-13-47-524.rawproto
profile-2017-10-27-17-16-10-952.json
profile-2017-10-27-17-16-10-952.rawproto
profile-2017-10-27-17-22-34-287.json
profile-2017-10-27-17-22-34-287.rawproto
profile-2017-10-27-17-24-06-332.json
profile-2017-10-27-17-24-06-332.rawproto
profile-2017-10-27-17-24-40-489.json
profile-2017-10-27-17-24-40-489.rawproto
profile-2017-10-27-17-26-53-770.json
profile-2017-10-27-17-26-53-770.rawproto
profile-2017-10-27-17-34-09-818.json
profile-2017-10-27-17-34-09-818.rawproto
profile-2017-10-27-17-36-19-946.json
profile-2017-10-27-17-36-19-946.rawproto
profile-2017-10-27-17-36-51-934.json
profile-2017-10-27-17-36-51-934.rawproto
profile-2017-10-27-17-42-50-117.json
profile-2017-10-27-17-42-50-117.rawproto
profile-2017-10-27-17-50-29-303.json
profile-2017-10-27-17-50-29-303.rawproto
profile-2017-10-27-17-52-44-732.json
profile-2017-10-27-17-52-44-732.rawproto
profile-2017-10-27-17-54-35-647.json
profile-2017-10-27-17-54-35-647.rawproto
profile-2017-10-27-18-14-50-510.json
profile-2017-10-27-18-14-50-510.rawproto
